{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="pt-5 pb-5">
  <div class="container">
    <div class="row w-100">
        <div class="col-lg-12 col-md-12 col-12">
            <h3 class="display-5 mb-2 text-center">{{request.user.first_name}}'s Cart</h3>
            <h5 class="mb-5 text-center">
                <i class="text-info font-weight-bold">{{total_items}}</i> items in your cart</h5>
            <table id="shoppingCart" class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th style="width:60%">Product</th>
                        <th style="width:12%">Price</th>
                        <th style="width:10%">Quantity</th>
                        <th style="width:16%"></th>
                    </tr>
                </thead>
                <tbody>
                {% for cart_item in cart_items %}
                 <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-md-3 text-left">
                                    <img src="{{cart_item.fooditem.image_url}}" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                </div>
                                <div class="col-md-9 text-left mt-sm-2">
                                    <h4>{{cart_item.fooditem.name}}</h4>
                                    <p class="font-weight-light">{{cart_item.fooditem.restaurant.name}}</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">{{cart_item.subtotal}}</td>
                        <td data-th="Quantity">
                          {{cart_item.quantity}}
                        </td>
                        <td class="actions" data-th="">
                            <div class="text-right">
                                <a class="btn btn-white border-secondary  btn-md mb-2" href = "{% url 'add_cart_item' fooditem_id=cart_item.fooditem.id %}">
                                    <i style = "color:green" class="fas fa-plus"></i>
                                </a>
                                <a class="btn btn-white border-secondary  btn-md mb-2" href = "{% url 'remove_cart_item' fooditem_id=cart_item.fooditem.id %}">
                                    <i style = "color:green" class="fas fa-minus"></i>
                                </a>
                                 <a class="btn btn-white border-secondary  btn-md mb-2" href = "{% url 'delete_cart_item' fooditem_id=cart_item.fooditem.id %}" >
                                    <i style = "color:green" class="fas fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="float-right text-right">
                <h4>Total:</h4>
                <h1>{{total_value}}</h1>
            </div>
        </div>
    </div>
    <div class="row mt-4 d-flex align-items-center">
        <div class="col-sm-6 order-md-2 text-right">
            <a href="{% url 'checkout' %}" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
        </div>
        <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
            <a href="{% url 'menu_page' %}">
                <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
        </div>
    </div>
</div>
</section>
{% endblock content %}