{% include 'adminappt/navbar.html' %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href={% url 'restaurantadd' %} class="btn btn-success">Add restaurant</a>
<table class="table table-striped table-bordered" >
    <tr>
        <th>NAME </th>
<!--        <th>CUSINES</th>-->
        <th>ADDRESS</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>

{% for restaurant in restaurants %}
    <tr>
<td>{{ restaurant.name }}</td>
<!--<td>{{ restaurant.cusines }}</td>-->
<td>{{ restaurant.address }}</td>
    <td>
<form method="POST" action="{% url 'deleterestaurant' %}">
          {% csrf_token %}
          <input type="hidden" name="obj_id" value="{{ restaurant.id }}">
          <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </td>
    <td>
        <form method="POST" action="{% url 'updaterestaurant' restaurant.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </td>
</tr>
{% endfor %}

</table>
</body>
</html>